/*
The box-sizing property allows us to include the padding and border in an element's total width and height. If you set box-sizing: border-box; on an element padding and border are included in the width and height: Both divs are the same size now! Hooray!
*/
* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #ececec;
  }
  
  header {
    margin-bottom: 20px;
    height: 90px;
    background-color: #fff;
    overflow: auto;
    border-bottom: 2px solid #dedede;
    font-family: Georgia, Times, Times New Roman, serif;
  }
  
  

  .logo {
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    width: 260px;
    height: 88px;
    padding: 22px 10px 0 10px;
    text-decoration: none;
    text-align: center;
  }
  
  nav {
    float: right;
    font-size: 18px;
    padding: 34px 10px 0 10px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  
  nav a {
    text-decoration: none;
    color: #666;
    padding: 2px 20px;
    border-right: 1px solid #666;
  }
  
  nav a:last-child {
    border-right: none;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  .main-container {
    padding: 30px;
    background-color: #fff;
    height: calc(100vh - 210px);
    border: 1px solid #dedede;
    overflow: auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  
  .main-container h1 {
    font-size: 22px;
    color: #4aaaa5;
    padding: 10px 0;
    border-bottom: 2px solid #dedede;
  }
  
  .main-container img {
    width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .main-container p {
    color: #777;
    line-height: 30px;
    font-size: 18px;
  }
  
  main {
    margin-bottom: 20px;
    min-height: calc(100vh - 90px);;
  }
  
  footer {
    position: fixed;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px 0;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  
 .images {
  width: 640px;
  margin: 0 auto;
  clear: both;
  position: relative;
  left: -100px;
  /* border: yellow 1px solid; */
 }

 .banner {
   position: relative;
   /* border: red 1px solid; */
   width: 320px;
   height: 160px;
   margin-bottom: 20px;
  
 }

 .text-block {
  position: absolute;
  bottom: 20px;
  background-color: teal;
  color: white;
  padding: 1px;
  /* border: orange 1px solid; */
  width: 320px;
  text-align: center;
 }

 form {
   width: 100%;
 }

 input textarea {
   width: 100%;
 }

 